<html>
<head>
	<title>Daniela's blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>	
	<h1>Daniela escribe</h1>
	<h2>Bienvenido</h2>
	{% for post in posts %}
		<div>
			<p>published: {{post.published_date}}</p>
			<h1><a href="">{{post.title}}</a></h1>
			<p>{{ post.text|linebreaks}}</p>
		</div>
	{% endfor %}

	
	<h3>Esto funciona, que emoción</h3>
	<strong>this is cool</strong>
	<br />
	<a href="http://google.com">Google</a>
	<p>Hi there!</p>
	<p>It works!>
	<a href="http://facebook.com/danielaornelas">Entra a mi facebook</a>
</body>
	</html>